@model MVC5.Models.Client

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    
    @Html.DisplayForModel("Client1");

    <h4>Client's Order</h4>
    @Html.Action("Index", "Orders", new { clientId = Model.ClientId })
    @*@Html.Partial("List", Model.Order.ToList())*@
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClientId })
    @Html.ActionLink("Back to List", "Index")
</p>
